<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body id="auth">
    <%= render :partial => 'shared/header' %>
    <div class="main container">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </body>
</html>